/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp/*
/.idea/*
/.ssl/*
nohup.out
/elb/*
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
logfile
.env
.env.development
.env.test
.env.staging
.env.local
.DS_Store
Procfile.dev
*.keytab
config/database.yml
.env.*
.ruby-env
public/assets/*
Procfile
*.swp
config/ec2.yml
config/google_oauth.yml